<!doctype html>
<html lang="en" class="nojs">
<head>{{>head}}</head>
<body id="{{id}}" data-app="{{appUrl}}" data-appRoot="{{appRoot}}">
  {{>header}}
  {{#content}}
    <iframe title="Book Viewer" role="main" id="mainContent" tabindex="-1" class="widget book" id="book" name="book" data-name="book" data-sourceUrl="{{viewer}}" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
  {{/content}}
  <div class="bubblingG" aria-hidden="true">
    <span id="bubblingG_1" aria-hidden="true"></span>
    <span id="bubblingG_2" aria-hidden="true"></span>
    <span id="bubblingG_3" aria-hidden="true"></span>
  </div>
  {{{closure}}}
</body>
</html>
