.sass-cache
.out
.DS_Store

build
build/*
node_modules/*

source/yuiTabTest.html
source/json/datasources/*

# Ignore Eclipse conf files
.project
.buildpath
.settings/*

# project sub modules
!node_modules/grunt-contrib-writeHTML
!node_modules/series
!node_modules/series_pages
!node_modules/subjects
!node_modules/subjects_pages

source/json/sass.json
