# Don't install dev dependencies in production
production=true
# Don't generate a package-lock file
package-lock=false
# Skip optional dependencies
optional=false
# Don't include unnecessary files
audit=false
fund=false 