body.about {
  main {
    @media (min-width: $screen-md-min) {
      -webkit-flex: 2 0 0;
      flex: 2 0 0;
      padding-right: 70px;
    }
  }
  aside {
    @media (min-width: $screen-md-min) {
      -webkit-flex: 0 1 32%;
      flex: 0 1 32%;
    }
    
  }
}