<div class="footer-wrapper">
<div class="navf">
       <a href="https://www.nyu.edu/footer/accessibility.html" target="_blank">Accessibility</a></div>
  <footer class="footer-main container-fluid" role="contentinfo">
    {{> partnersfooter }}
  </footer>
</div>
