<!doctype html>
<html class="nojs">
<head>{{> head }}</head>
<body data-app="{{appUrl}}" data-appRoot="{{appRoot}}" class="{{bodyClass}}">
  {{> header }}
  <iframe class="widget book" id="book" name="book" data-name="book" data-sourceUrl="{{sourceUrl}}" data-script='{ "js" : [ "commons.js", "crossframe.js", "book.js" ] }' allowfullscreen mozallowfullscreen webkitallowfullscreen>
  {{> loading }}
  {{{closure}}}
</body>
</html>
