<!doctype html>
<html>
<head>{{> head }}</head>
<body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}" data-discoUrl="{{ discoUrl }}" class="{{ bodyClass }}">
  {{> header }}
  <main class="main container-fluid" role="main">
    <header>
      {{#title}}
        <h2  class="page-title" >{{{html}}}</h2>
      {{/title}}
       <div class="resultsnum">Showing results <span class="start"></span> - <span class="docslength"></span> of <span class="numfound"></span></div>
      <div class="filters">
      <select id="filter-year">
        <option data-fq-ss_pubdate="all" value="*" selected>From all publication years</option>
        <option data-fq-ss_pubdate="1991" value="1991">Published in 1991</option>
        <option data-fq-ss_pubdate="1992" value="1992">Published in 1992</option>
        <option data-fq-ss_pubdate="1999" value="1999">Published in 1999</option>   
      </select>
      <select id="filter-publisher">
        <option data-fq-ss_spublisher="*" value="*" selected>From all publishers</option>
        <option data-fq-ss_spublisher="styx" value="styx">From publisher: Styx</option>
        <option data-fq-ss_spublisher="brill" value="brill">From publisher: Brill</option>
      </select>
      <select id="browse-select">
        <option data-sort-dir="asc" value="ss_sauthor" selected>Sorting by Author</option>
        <option data-sort-dir="asc" value="iass_longlabel" >Sort by Title</option>
      </select>
    </div>
      </header>
    {{#content}}
      {{#items}}
        <div 
          class="widget" 
          data-name="items" 
          data-rows="{{ rows }}"
          data-source="{{ source }}"
          data-fl="{{ fl }}"
          {{#fq}}
          data-fq-{{ filter }}="{{ value }}"
          {{/fq}}
          data-script='{ "js" : [ "browse.min.js" ], "hbs" : [ { "template" : "items.hbs", "id" : "items" } ] }'
        ></div>
        <div class="text-center">
          <div id="paginator" class="pagination"></div>
        </div>        
      {{/items}}
    {{/content}}
  </main>
  {{> footer }}
  {{{ closure }}}
</body>
</html>