<!doctype html>
<html>
<head>{{> head }}</head>
<body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}" class="{{ bodyClass }}">
  {{> header }}
  <main class="main container-fluid" role="main">
   
    {{#content}}
     {{#intro}}
    <div class="intro {{class}}"> {{{html}}} </div>
   <!--  <div class="searchHoldFlex"> {{> search_form }}</div> -->

   

    {{/intro}}

    {{> featured }}

    <select id="browse-select">
        <option data-sort-dir="asc" value="ss_longlabel" selected>Title</option>
        <option data-sort-dir="asc" value="ss_sauthor">Author</option>
        <option data-sort-dir="asc" value="ss_ssubject">Subject</option>
        <option data-sort-dir="asc" value="ss_publocation">Place</option>
      </select>
      <div class="resultsnum">Showing results <span class="start"></span> - <span class="docslength"></span> of <span class="numfound"></span></div>

      {{#items}}
        <div 
          class="widget" 
          data-name="items" 
          data-rows="{{ rows }}"
          data-source="{{ source }}"
          data-fl="{{ fl }}"
          {{#fq}}
          data-fq-{{ filter }}="{{ value }}"
          {{/fq}}
          data-script='{ "js" : [ "front.min.js" ], "hbs" : [ { "template" : "itemsHome.hbs", "id" : "items" } ] }'
        ></div>       
      {{/items}}
    {{/content}}

    <hr>

    <div class="flex-container">
      {{> featuredHome }}
      {{> featuredHome }}
      {{> featuredHome }}
      {{> featuredHome }}

    
    </div>

  </main>
  {{> footer }}
  {{{ closure }}}
</body>
</html>