<!doctype html>
<html>
<head>{{> head }}</head>
<body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}" class="{{ bodyClass }}">
  {{> header }}
  <div class="container-fluid"><div class="flex-container">
    <main class="main hasSidebar" role="main">
    {{#title}}
      <h2  class="page-title">{{{html}}}</h2>
    {{/title}}
    {{#content}}
      {{#main}}
        <div class="maintext {{class}}" >{{{html}}}</div>
      {{/main}}
    {{/content}}
    </main>
    <aside role="complementary">
       <h3>AWDL Atlas</h3>

    <div class="content">
      <p>Browse titles related to particular regions, cities, and sites.</p>
    <iframe width="100%" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col2+from+1Iz5JvJrlL-LPod87b1VTOaMdRbgyj7ptB8c2SaA&amp;viz=MAP&amp;h=false&amp;lat=40.714029638436955&amp;lng=-72.76368443134766&amp;t=1&amp;z=8&amp;l=col2&amp;y=1&amp;tmplt=3&amp;hml=GEOCODABLE"></iframe></div>
    </aside>

 </div>

</div>
  {{> footer }}
  {{{ closure }}}  
</body>
</html>
