<div id="YUItabs" class="noFouc">
<ul >{{#featured}} <li><h3><a href="#{{widget}}">{{title}}</a></h3></li>{{/featured}}</ul>
<div>
 {{#featured}}
      <div id="{{widget}}">{{> featuredItemsGrouping }}</div>
 {{/featured}}
</div>
</div>
