<article class="item">
  <div class="thumbs"><img src="http://dlib.nyu.edu//awdl/sites/dl-pa.home.nyu.edu.awdl/files/dlts_image_thumbs/thumb-leonssurlart00capa_0007.jpg"> <a href="/awdl/books/leonssurlart00capa" title="View Book Page" class="book-thumbnail active"></a></div>
  <div class="inner-meta">
    <h1 class="md_title">Leçons sur l'art égyptien</h1>
    <div class="md_author">Capart, Jean, 1877-1947</div>
    <div><span class="md_label">Publisher:</span> Liege, Impr. H. Vaillant-Carmanne, Paris, 1963</div>
     <div><span class="md_label">Series:</span> Papyrology, number 5</div>

  </div>
</article>