<title>{{appName}}{{#htmltitle}}: {{htmltitle}}{{/htmltitle}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lte IE 9]>
  <script>window.location.replace("{{appUrl}}/upgrade/");</script>
<![endif]-->
<link rel="shortcut icon" href="{{appUrl}}/images/favicon.ico" />
{{{css}}}
<script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
<script>document.documentElement.className = document.documentElement.className.replace(/\bnojs\b/g, '');</script>
<script>
WebFont.load({
    google: {
      families: ['Open Sans:300,400,600']
    },
    timeout: 3000
});
</script>
