<div class="item newsitem">
    {{#news}} {{#newsItem}} {{#data}}
    <h3><a href="{{link}}" target="_blank">From the ISAW blog</a></h3> {{#items}}
    <div class="newscontent">
        <div class="thumbs">
            <div class="clipper"><a href="{{link}}">
                <img src="images/blog_thumb.jpeg"></a>
            </div>
        </div>
        <h4><a href="{{link}}">{{title}}</a></h4>
        <time datetime="{{dc:date}}">{{dc:date}}</time>
        <div class="description">
            {{#description}}{{description}}{{/description}}
        </div>
    </div>{{/items}} {{/data}} {{/newsItem}} {{/news}}
</div>