<!doctype html>
<html>
<head>{{> head }}</head>
<body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}" data-discoUrl="{{ discoUrl }}" class="{{ bodyClass }}">
  {{> header }}
  <main class="main container-fluid" role="main">
    <header>
      <h2  class="page-title">{{{label}}}</h2>
    </header>
    {{#data}}
      <div>
        <div id="{{label}}">
          <div class="item-list flex-container">
            {{#books}}
              <article class="item card">
                <div class="thumbs">
                  <div class="clipper"><a href="{{../../appUrl}}/book/{{identifier}}"><img src="{{representative_image_medium}}" alt="" title="{{label}}"/></a></div>
                </div>
                <h1 class="md_title"><a href="{{../../appUrl}}/book/{{identifier}}">{{{label}}}</a></h1>
                {{#if authors}}
                  <div class="md_author">{{#authors}}<span>{{value}}</span>{{/authors}}</div>
                {{/if}}
                {{#if is_ispartof_series}}
                  <div class="md_series"><span class="md_label">Series</span> <span>{{ss_series_label}}</span></div>
                {{/if}}
                {{#if is_ispartof_multivol}}
                  <div class="md_multivol"><span class="md_label">Part of</span> <span>{{ss_multivol_label}}</span></div>
                {{/if}}
                <div class="md_publisher"><span class="md_label">Publisher:</span> <span>{{#publishers}}{{value}}{{/publishers}}</span>, {{publication_location}}, {{publication_date}}</div>
                <div class="md_provider"><span class="md_label">Provider:</span> <span>{{#partners}}{{value}}{{/partners}}</span></div>
                <div class="md_subjects"><span class="md_label">Subjects:</span> {{#subjects}}<a class="md_subject" href="{{appRoot}}/search?q={{tid}}">{{label}}</a>{{/subjects}}</div>
              </article>          
            {{/books}}
          </div>
        </div>
      </div>      
    {{/data}}
  </main>
  {{> footer }}
  {{{ closure }}}
</body>
</html>
