.header-wrapper {
  background-color: $brand-primary;
  color: #fff;
  @include box-shadow(0px 0px 10px 5px rgba(110, 102, 93, 0.3));
  @include box-shadow(0px 0px 10px 5px #deccbf);
  width: 100%;
  overflow: auto;
}

.header-main {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  margin-right: 15px;
  @media (max-width: $grid-float-breakpoint) {
    padding-bottom: 20px;
  }
  .toplogo {
    float: right;
    a {
      text-indent: -1000em;
      background: url("../../images/nyu-isaw.svg") no-repeat right center;
      background-size: contain;
      max-width: 175px;
      width: 17vw;
      display: block;
      height: 40px;
    }
    @media (max-width: $grid-float-breakpoint) {
      float: none;
      a {
        height: 25px;
        background-position: left top;
        width: 27vw;
      }
    }
    @media (max-width: 479px) {
      display: none;
    }
  }
  .sitename {
    float: left;
    margin: 0;
    line-height: 1;
    a {
      width: 60vw;
      max-width: 550px;
      height: 40px;
      text-indent: -1000em;
      color: #fff;
      line-height: 1;
      display: block;
      background: url('../../images/logo.png') no-repeat left center;
      background-size: contain;
      @media (max-width: $grid-float-breakpoint) {
        width: 75vw;
        max-width: none;
        background-position: left bottom;
      }
      @media (max-width: 479px) {
        background: url('../../images/logoVert.png') no-repeat left top;
        background-size: auto 100%;
        padding-top: 0;
        height: 40px;
      }
    }
    a:hover {
      text-decoration: none;
      text-shadow:
        1px 0px 0px #ff9c00,
        -1px 0px 0px #ff9c00,
        0px 1px 0px #ff9c00,
        0px -1px 0px #ff9c00;
      text-shadow:
        0px 0px 1px #fff,
        1px 0px 0px #ff9c00;
    }
  }
  .toplogo a,
  .sitename a {
    color: red !important; // Use a very noticeable color
    font-size: 16px !important; // Set a reasonable font size
    position: static !important; // Ensure it's not positioned off-screen
    z-index: 9999 !important; // Bring it to the front
  }
}
